 body {
    	background-color: lemonchiffon;
    	font-family: 'Arial', sans-serif;
  }
  
  header {
    background-color: darkorange;
    color: #fff;
    padding: 10px;
    text-align: center;
  }

 nav {
    margin-top: 10px;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  nav li {
    display: inline;
    margin-right: 20px;
  }
  
  nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
  }
  
  main {
    max-width: full width;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

h1 {
	font-size: 60px;
	font-family: georgia, sans-serif;
}

h2 {
	color: darkgreen;
	font-size: 30px;
}

footer {
  background-color: darkorange;
  color: #fff;
  padding: 10px;
  bottom: 0;
}

.footer-text {
  	align: center;
	font-style: italic;
}

footer a {
  color: blue;
}

footer a:hover {
  text-decoration: underline;
}
  